<section class="container flex food-placeholder">
<div class="food flex">
<h1 class="title">Public Recipes</h1>

<ul class="flex public">

  <% @public_recipes.each do |recipe| %>
    <li class="line flex">
<div id="<%= dom_id recipe %>">
  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

</div>

<div class="recipe-info flex">
          <h2>
          </h2>
          <span>By: </span>
 </div>


<div class="recipe-cost flex">
<div>
  <span>Total food items: </span>
</div>
<div>
  <span>Total price:</span>
</div>
</div>

<p>
      <%= link_to "Open Recipe", user_recipe_path(recipe.user, recipe), class: '' %>
    </p>

</li>
  <% end %>
</div>
<ul>

</div>
</section>