<section class="sign container flex">
<div class="form flex">

<h1> Create new Recipe </h1>

<%= form_with model: @recipe, url: user_recipes_path do |f| %>
  <div class='field flex'>
  <%= f.label :name  %> 
  <%= f.text_field :name %> <br/>
  </div>

  <div class='field flex'>
    <%= f.label :preparation_time %>
    <%= f.number_field :preparation_time %> <br/>
</div>

  <div class='field flex'>
    <%= f.label :cooking_time %>
    <%= f.number_field :cooking_time %> <br/>
</div>

<div class='field flex'>
    <%= f.label :description %>
    <%= f.text_field :description %> <br/>
</div>

    <%= f.submit 'Create Recipe', class: 'submit' %>
<% end %>

<div>
  <%= link_to "Back to recipes", user_recipes_path %>
</div>

</section>