<section class="container flex food-placeholder">
<div class="food flex">
  <h1 class="title"><%= @recipe.name %></h1>
  
    <div class="flex recipe-detail">
    <div class="flex detail-col">
    <div class="flex time"> 
    <div class="">
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
    </div>

      <div>
        <% if @recipe.public == false %>
          <%= check_box :public, checked: false  %>
          <label class="check-label" for="unchecked">Public</label>
        <% else %>
          <%= check_box :public, checked: true %>
          <label class="check-label" for="checked">Public</label>
        <%end%>
      </div>

    </div>

    <div class="flex time">
      <p>Cooking Time: <%= @recipe.cooking_time %></p>
    </div> 

    <div>
      <p>Step go here...</p>
    </div>

    <div class="flex detail-col">
        <div>
            <button class="btn btn-primary">Generate Shopping List</button>
        </div>
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add Ingredients
            </button>
          </div>
   </div> 
   <hr>

   <table class="table table-hover table-bordered mt-4 table-responsive{-sm|-md|-lg|-xl} ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name%></td>
            <td>$<%= food.price%></td>
            <td><%= food.quantity%> <%= food.measurement_unit %></td>
            <td>
              <%= button_to "Delete", user_food_path(food.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
</div>
</section>
