<div class="page">
  <h1 class=""><%= @recipe.name %></h1>
  
    <div class="">
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
      <p>Cooking Time: <%= @recipe.cooking_time %></p>
      <p>Steps go here...</p>
      <div class="col-md-8">
        <%= link_to "Generate Shopping List", user_recipe_general_shopping_list_index_path(@user, @recipe), class: '' %>
      </div>

      <div>
        <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(@user, @recipe), class: '' %>
      </div>
    </div>
  
   <hr>

   <table class="table table-hover table-bordered mt-4 table-responsive{-sm|-md|-lg|-xl} ">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name%></td>
            <td>$<%= food.price%></td>
            <td><%= food.quantity%> <%= food.measurement_unit %></td>
            <td>
              <%= button_to "Delete", user_food_path(food.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
</div>

