<section class= "page">
<h1> Foods</h1>
<div class="container-cont">
    <%= button_to "Create new food",
                new_user_food_path,
                method: :get,
                class: "button-right"%>

    <h3> List of foods </h3>
<% if @foods.any? %>
    <table>
        <thead>
            <tr>
                <th> Name </td>
                <th> Measurement Unit </th>
                <th> Unit Price </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food| %>
                    <tr> 
                        <td> <%= food.name %>  </td>
                        <td> <%= food.measurement_unit %> </td>
                        <td> $ <%= food.price %> </td>
                        <td> <%= link_to "delete", 
                                user_food_path(@user, food),
                                method: :delete %> </td>
                    </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p> There are no foods yet. </p>
<% end %>
</div>
</section>
    