<h1> Foods</h1>
<h3> List of foods </h3>
<%= button_to "Create new food", 
            new_user_food_path,
            method: :get %>

<% if @foods.any? %>
    <table>
        <tr>
            <th> Name </td>
            <th> Measurement Unit </th>
            <th> Unit Price </th>
            <th> Actions </th>
        </tr>

        <% @foods.each do |food| %>
            <tr> 
                <td> <%= food.name %>  </td>
                <td> <%= food.measurement_unit %> </td>
                <td> $ <%= food.price %> </td>
                <td> <%= link_to "delete", 
                         user_food_path(@user, food),
                         method: :delete %> </td>
            </tr>
        <% end %>
    </table>
<% else %>
    <p> There are no foods yet. </p>
<% end %>
    