<h1> Create new food </h1>

<%= form_for @food, url: user_foods_path do |f| %>
    <%= f.label :name  %> 
    <%= f.text_field :name %> <br/>
    <%= f.label :measurement_unit %>
    <%= f.text_field :measurement_unit %> <br/>
    <%= f.label :price %>
    <%= f.number_field :price %> <br/>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %> <br/>
    <%= f.submit %>
<% end %>

<div>
  <%= link_to "Back to foods", user_foods_path %>
</div>
    
