<h1><%= @food.name %></h1>
<h4><%= @food.measurement_unit %></h3>
<h4><%= @food.price %></h3>
<h4><%= @food.quantity %></h3>


<%= button_to "Delete Food", 
              user_food_path(@user, @food),
              method: :delete %> 

<%= button_to "Return to Foods Page", 
              user_foods_path,
              method: :get %>